# Node modules
node_modules/

# Build outputs
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and env
*.log
.env

# Secrets and keys
*.pem
*.key
secrets/

# Package
*.zip

# Chrome extension package
*.crx

# Misc
coverage/
.idea/
